@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/* Reset de los navegadores */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin del reset */

/*Estilos generales */

body {
  font-family: 'Open Sans', sans-serif !important;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.two-columns {
  width: 50%;
}

.three-columns {
  width: 33.33%;
}

h1, h2, p {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: 300
}

p, .ul {
  color: white;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 1.3;
}

.ul {
  padding-left: 23px;
  line-height: 2;
}

a {
  color: rgb(230, 230, 230);
  text-decoration: none;
  font-weight: 700;
}

.btn {
  color: white;
  font-weight: 400;
  border-radius: 20px;
  padding: 8px 25px;
  text-decoration: none;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn-orange {
  background-color: rgb(240, 146, 51);
}

.btn-red {
  background-color: rgb(203, 56, 55);
}

.btn-navy {
  background-color: rgb(49, 68, 88);
}

.btn-orange:hover {
  background-color: rgb(180, 110, 38);
}

.btn-red:hover {
  background-color: rgb(152, 42, 41);
}

.btn-navy:hover {
  background-color: rgb(31, 43, 55);
}

/* Navbar superior */

nav {
  background-color: #C12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 300;
}

nav a:hover, .sign-up a:hover {
  color: rgba(255, 255, 255, 1);
  transition: color 0.3s ease;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
.top-left {
  display: inline;
  margin-left: 20px;
}
.heart {
  padding-right: 20px;
}

/* Header */

header {
  padding: 20px 10px 100px 10px;
  background-color: rgb(32, 101, 136);
  color: white;
  background-image: url(images/city-scape.svg);
  background-size: 100% 100%;
  background-position: top center;
}

.user-section {
  height: 50px;
  display: flex;
}

.logo-container, .sign-up, .search-container {
  float: left;
}

.search-container input {
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  background-color: rgb(31, 82, 111);
  border: 1px solid rgba(255,255,255,0.2);
  height: 50px;
  font-size: 16px;
  color: white;
}

.search-container {
  margin: 0 15px;
  width: 100%;
}

.logo-container img {
  width: 125px;
  height: 50px;
}

.sign-up {
  float: right;
  display: flex;
  width: 250px;
}

.sign-up img {
  width: 45px;
  height: 45px;
}

.sign-up a {
  text-decoration: none;
  font-weight: 300;
}
.sign-up, .sign-up a {
  color: rgba(255, 255, 255, 0.8);
}

.login {
  display: inline-table;
  line-height: 2.5;
  margin-right: 5px;
}

.bear img:hover {
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
    }

/* Section for orgs */

.collaboration {
  padding: 80px 10px 80px 10px;
  background-color: rgb(39, 53, 71);
  color: white;
}

.collaboration .container {
  display: flex;
}

.orgs {
  margin-left: 40px;
}

.collaboration h2 {
  margin-top: 0px;
}

.learn-more {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* What is npm */

.whatis {
  background-image: url(images/forklift.svg);
  background-size: cover;
  background-position: top center;
  padding: 20px 10px 100px 10px;
  color: white;
  height: 350px;
  position: relative;
}

.whatis-container {
  width: 30%;
  position: absolute;
  transform: translate(50%, 20%);
}

/* What can i make */

.make {
  text-align: center;
  padding: 40px 0;
}

.make h2 {
  color: rgb(83, 88, 98);
}

.make p {
  color: rgb(135, 145, 156);
}

.steps {
  display: flex;
}

.steps a {
  color: rgb(208, 74, 73);
  font-weight: 300;
}

.steps a:hover {

}

.steps h3 {
  margin-top: 15px;
}

.steps img:hover {
  transition: all 0.3s ease;
  transform: scale(1.2);
}
